/* .impowerBox .qrcode {width: 201px;}
.impowerBox .title {display: none;}
.impowerBox .info {width: 200px;}
.status_icon {display: none}
.impowerBox .status {text-align: center;} */
.impowerBox .title{
    display: none;
}
.impowerBox .info {display: none}
.impowerBox .qrcode {
    width: 125px;
    box-sizing: border-box;
    margin-top: 0;
}
.impowerBox .wrp_code{
    width:125px;
}